<body>
  <nav>
    <a href="/applications">ALL APPLICATIONS</a>
    <% if (user) { %>
        <a href="/applications/new">Add an Application</a>
        <a href="/logout">LOG OUT</a>
      <% } else { %>
        <a href="/auth/google" class="login">LOG IN&nbsp;<img src=""></a>
      <% } %>
</nav>
