.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}

.collection-item form {
  margin-top: -5px;
}

body>nav {
  font-family: 'Nunito', sans-serif;
  grid-area: nav;
  background-color: #5BC4BA;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 30px;
}

nav>img {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

nav>a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav>a:hover {
  color: white;
  background-color: #7CE5C6;
}

nav>a.active {
  color: white;
}


table,
th,
td {
  font-family: 'Nunito', sans-serif;
  border: 1px solid black;
  border-collapse: collapse;
  background-color: #ECF5F4;
}

#new-form {
  margin-top: 7%;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: none;
  word-wrap: break-word;
  background-color: #ECF5F4;
  background-clip: border-box;
  border: 2px solid black;
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 2.8rem;
  line-height: 1.5;
  text-align: center;
  padding: 30px;
  border-radius: 15px;
}

.card {
  font-family: 'Nunito', sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: none;
  word-wrap: break-word;
  background-color: #ECF5F4;
  background-clip: border-box;
  border: 2px solid black;
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 2.8rem;
  line-height: 1.5;
  text-align: center;
  padding: 30px;
  border-radius: 15px;
}

#button {
  padding: 12px;
  border-radius: 12px;
}

#startPage {
  font-family: 'Nunito', sans-serif;
  margin-top: 8%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: none;
  background-clip: border-box;
  border: 2px solid black;
  border-radius: 15px;
  letter-spacing: 1px;
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 30px;
  background-color: #ECF5F4;
  text-align: center;
}

#list {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#note-form {
  margin-top: 7%;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: none;
  word-wrap: break-word;
  background-color: #ECF5F4;
  background-clip: border-box;
  border: 2px solid black;
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 2.8rem;
  line-height: 1.5;
  text-align: center;
  padding: 30px;
  border-radius: 15px;
}

#update-form {
  margin-top: 7%;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: none;
  word-wrap: break-word;
  background-color: #ECF5F4;
  background-clip: border-box;
  border: 2px solid black;
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 2.8rem;
  line-height: 1.5;
  text-align: center;
  padding: 30px;
  border-radius: 15px;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }
