.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}

.collection-item form {
  margin-top: -5px;
}

body > nav {
  grid-area: nav;
  background-color: hsl(216, 41%, 84%);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

nav > img {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover {
  color: white;
  background-color: hsl(190, 67%, 50%);
}

nav > a.active {
  color: white;
}


table, th, td {
  border: 1px solid black;
  width: 100%;
  border-collapse: collapse;

}

.container-new {
  margin-top: 3rem;
  width: 50%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: none;
  word-wrap: break-word;
  background-color: antiquewhite;
  background-clip: border-box;
  border: 1px solid grey;
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 2rem;
  line-height: 1.5;
  text-align: left;
}
