<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Add-Note</title>
</head>
<body>
    <nav>
        <a href="/applications">ALL APPLICATIONS</a>
        <% if (user) { %>
            <a href="/logout">LOG OUT</a>
          <% } else { %>
            <a href="/auth/google" class="login">LOG IN&nbsp;<img src=""></a>
          <% } %>
 </nav>

    <form id="add-note-form" action="/applications/notes">
        <label>Add a Note:</label>
        <input type="textbox" name="text">
        <input type="submit" value="Add Note">
    </form>
    
</body>
</html>