<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Add-Note</title>
</head>
<body>
    <nav>
        <a href="/applications">My Applications</a>
        <% if (user) { %>
            <a href="/logout">LOG OUT</a>
          <% } else { %>
            <a href="/auth/google" class="login">LOG IN&nbsp;<img src=""></a>
          <% } %>
 </nav>
 <div id="note-form">
    <form id="add-note-form" action="/applications/<%= application._id %>/notes" method="POST">
        <label>Add a Note:</label>
        <input type="text" name="content">
        <input type="submit" value="Add Note">
    </form>
    </div>
    <br>
    <br>

    <% notes.forEach(function(a) { %>
        <tr>
            <td><%= a.content %> </td>
        </tr>

    <% }); %>
    
</body>
</html>